.newPlannedTrip {
  color: white;
  background-color: #292929;
}
/* .form-control {
  margin: 1%;
  max-width: 12%;
  max-height: 1%;
}
.form-control-capacity {
  margin: 1%;
  max-width: 5%;
  max-height: 1%;
}

.button {
  margin-bottom: 5%;
  margin-left: 5%;
} */
