.inscription-page {
  /* display: flex;
  flex-direction: row; */
  color: white;
  background-color: #292929;
  align-items: center;
}

.numberOfKids {
  max-width: 300px;
  max-height: 10px;
  margin-left: 10px;
  margin-bottom: 5%;
}
